.container{
    margin: 0px;
    /* height: 500vh; */
}

.wrapper{
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logoWrapper{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo{
    width: 20%;
    height: auto;
}

.logoDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoDivFirst{
    font-weight: 400;
    font-size: 0.7rem;
}

.logoDivSecond{
    font-weight: 700;
    font-size: 0.6rem;
}

.linkWrapper{
    display: none;
}

.hamburgerWrapper{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.hamburgerIcon{
    width: 100%;
    height: 100%;
}

.sideDrawerText{
    font-size: 2rem !important;
}

@media (min-width: 360px) {
    .wrapper{
        margin: 0.3rem;
        padding: 0.5rem;
        width: 93%;
    }
    
    .logoWrapper{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    
    .logo{
        width: 20%;
        height: auto;
    }
    
    .logoDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .logoDivFirst{
        font-size: 0.8rem;
    }
    
    .logoDivSecond{
        font-size: 0.7rem;
    }
}

@media (min-width: 400px) {
    .wrapper{
        width: 94%;
    }
    .logo{
        width: 18%;
        height: auto;
    }
    .hamburgerWrapper{
        width: 15%;
        height: 100%;
    }    
    .hamburgerIcon{
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 430px) {
    .logo{
        width: 17%;
        height: auto;
    }
    .logoDivFirst{
        font-size: 0.9rem;
    }
    
    .logoDivSecond{
        font-size: 0.8rem;
    }
}

@media (min-width: 493px) {
    .wrapper{
        width: 94.5%;
    }
    .logo{
        width: 17%;
        height: auto;
    }
    .logoDivFirst{
        font-size: 1rem;
    }
    .logoDivSecond{
        font-size: 0.9rem;
    }
    .hamburgerWrapper{
        width: 14%;
        height: 100%;
    }    
}

@media (min-width: 530px) {
    .wrapper{
        width: 95%;
    }
    .logo{
        width: 17%;
        height: auto;
    }
    .logoDivFirst{
        font-size: 1rem;
    }
    .logoDivSecond{
        font-size: 0.9rem;
    }
    .hamburgerWrapper{
        width: 13%;
        height: 100%;
    }    
}

@media (min-width: 590px) {
    .logo{
        width: 17%;
        height: auto;
    }
    .logoDivFirst{
        font-size: 1rem;
    }
    
    .logoDivSecond{
        font-size: 0.9rem;
    }
    .hamburgerIcon{
        width: 70%;
    }
}

@media (min-width: 625px) {
    .wrapper{
        width: 95.5%;
    }
    .logo{
        width: 17%;
        height: auto;
    }
    .logoDivFirst{
        font-size: 1.1rem;
    }
    
    .logoDivSecond{
        font-size: 1rem;
    }
    .hamburgerIcon{
        width: 90%;
    }
}

@media (min-width: 707px) {
    .wrapper{
        margin: 0.5rem;
        padding: 0.5rem;
    }
    .logo{
        width: 17%;
        height: auto;
    }
    .logoDivFirst{
        font-size: 1.2rem;
    }
    
    .logoDivSecond{
        font-size: 1.3rem;
    }
    .hamburgerIcon{
        width: 90%;
    }
}

@media (min-width: 710px) {
    .logo{
        width: 15%;
        height: auto;
    }
    .hamburgerIcon{
        width: 80%;
    }
}

@media (min-width: 745px) {
    .logo{
        width: 14%;
        height: auto;
    }
    .hamburgerIcon{
        width: 70%;
    }
}

@media (min-width: 785px) {
    .wrapper{
        margin: 0.5rem 0.8rem;
        padding: 0.5rem 0.8rem;
        width: 94%;
    }
    .logo{
        width: 13%;
        height: auto;
    }
    .hamburgerIcon{
        width: 65%;
    }
}

@media (min-width: 830px) {
    .wrapper{
        margin: 0.6rem 1rem;
        padding: 0.6rem 1rem;
        width: 93%;
    }
    .logo{
        width: 12%;
        height: auto;
    }
    .hamburgerIcon{
        width: 60%;
    }
}

@media (min-width: 1068px) {
    .wrapper{
        margin: 0.5rem 1rem;
        padding: 0.5rem 1rem;
        width: 93.5%;
    }
    .logo{
        width: 14%;
        height: auto;
    }
    .logoDivFirst{
        font-size: 1.2rem;
    }
    .logoDivSecond{
        font-size: 1.1rem;
    }
    .linkWrapper{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        min-width: 35%;
        gap: 1.5rem;
    }
    .linkDiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    .linkIcon{
        width: 1.3rem !important;
        height: 1.3rem !important;
    }
    .linkText{
        font-size: 0.9rem;
    }
    .hamburgerWrapper{
        display: none;
    }
}

/* @media (min-width: 955px){
    .logoDivFirst{
        font-size: 1.2rem;
    }
    .logoDivSecond{
        font-size: 1.1rem;
    }
    .linkIcon{
        width: 1.4rem !important;
        height: 1.4rem !important;
    }
    .linkText{
        font-size: 0.9rem;
    }
}

@media (min-width: 1000px){
    .logo{
        width: 13%;
    }
}

@media (min-width: 1050px){
    .wrapper{
        width: 94%;
    }
}

@media (min-width: 1150px){
    .wrapper{
        width: 94.5%;
    }
    .logo{
        width: 12%;
    }
    .linkWrapper{
        gap: 2rem;
    }
}

@media (min-width: 1250px){
    .wrapper{
        width: 95%;
    }
}

@media (min-width: 1350px){
    .wrapper{
        width: 95.5%;
    }
} */